/* square grid styles */
.squares-wrapper {
    display: flex;
    justify-content: center;
}

.squares-wrapper > .squares {
    width: 1000px;
}

.squares-wrapper > .squares > .square {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: -4px;
}

.square > .img-wrapper img {
    width: 300%;
    height: 500px;
    object-fit: fill
    
}

.square > .square-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 42px;
}

.square > .square-text-wrapper h1 {
    color: #332a0e
}